// $primary: ; // primary
// $primaryHov: ; // primary при наведені + фокус

// $secondary: ; // secondary
// $secondaryHov:; // secondary при наведені + фокус

$fs: 20; // for rem


@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@mixin font-size($sizeValue) { 
  font-size: ($sizeValue / $fs) + rem;
}

// Example:
// .p{
//     @include font-size(130);
// }


@import "libs/bootstrap";
@import "fonts";
@import "page-scrollbar";


body {
    overflow-x: hidden;
    font-weight: normal;
    font-size: $fs + px;
}

html{
    font-size: $fs + px;
}

// a.text-primary,
// .text-primary {
//     color: $primary !important;
// }

// a.text-secondary,
// .text-secondary {
//     color: $secondary !important;
// }

.btn.focus,
.btn:focus,
.btn:active,
.btn:visited,
.input,
.input:focus,
div,
div:focus,
textarea,
textarea:focus,
.form-control:focus,
.form-control,
.form-control:active{
    outline: none;
    box-shadow: none;
    border: none;
}














@media(max-width:1199.98px) {}

@media(max-width:997.98px) {}

@media(max-width:767.98px) {}

@media(max-width:575.98px) {}

@media (max-width: 299.98px) {}